.input {
    width: 100%;
    font-size: 1em;
    padding: 0.25em 0.5em;
    color: white;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(29, 29, 29);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    display: flex;
    align-items: center;
    gap: 0.6666em;
}
