.button {
    padding: 4px;
    background-color: rgba(31, 31, 31, 0.8);

    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgba(60, 60, 60, 0.8);
    }
}

.selected {
    background-color: rgba(0, 0, 255, 0.8);

    &:hover {
        background-color: rgba(0, 0, 255, 0.8);
    }
}
