.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    max-width: 100%;
    overflow: hidden;

    text-overflow: ellipsis;

    cursor: pointer;
    border: 1px solid transparent;
}

.selected {
    border-color: red;
}
