.back {
    cursor: pointer;
}

.animationList {
    margin: 12px 0 0;
}

.animationItem {
    max-width: 100%;
    border: 1px solid transparent;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

.selected {
    border-color: red;
}
